.color_De_fondo{
    background: linear-gradient(313.78deg, #2855AE -3.15%, #7292CF 100%);
    width: 100%;

}
.Imagen1{
    top: 100px;
    left: 600px;
}

.Imagen2{
    left: 590px;
    top: 125px;
}

.Imagen3{
    top: 300px;
    left: 470px;
}