.tres{
    width: 100%;
    height: 220%;
}

.cuadrito_blanco{
    left: 130px;
    width: 1100px;
    height: 650px;
    /*width: 800px;*/
    /*left: 250px;*/
    border-radius: 2rem 2rem 2rem 2rem;
}

.cuadrito_1{
    width: 300px;
    left: 300px;
}


.cuadrito_2{
    width: 300px;
    left: 790px;
}

.iman{
    left: 115px;
}

.uno{
    left: 200px;
}

.dos{
    left: 400px;
}

.tr{
    top: 140px;
    left: 600px;;
}

.cuatro{
    top: 140px;
    left: 800px;
}

.cinco{
    top: 300px;
    left: 200px;
}

.seis{
    top: 300px;
    left: 400px;
}

.siete{
    top: 300px;
    left: 600px;
}

.ocho{
    top: 300px;
    left: 800px;
}

.nueve{
    top: 460px;
    left: 200px;
}

.dies{
    top: 460px;
    left: 400px;
}

.once{
    top: 460px;
    left: 600px;
}

.doce{
    top: 460px;
    left: 800px;
}

.estare{
    width: 800px;
    left: 250px;
}

.ciru{
    width: 100px;
    height: 100px;
    left: 900px;
}

.pepa{
    left: 110px;
}

.j{
    left: 115px;
}

.iman_2{
    left: 115px;
}

.pepa_2{
    left: 110px;
}

.j_2{
    left: 120px;
}

.parrafo{
    left: 250px;
}

.parrafo_2{
    left: 250px;
}

.parrafo_3{
    left: 250px;
}
