.tres{
    width: 100%;
    height: 220%;
}

.cuadrito_blanco{
    width: 800px;
    left: 250px;
    border-radius: 2rem 2rem 2rem 2rem;
}

.cuadrito_1{
    width: 300px;
    left: 300px;
}

.cuadrito_2{
    width: 300px;
    left: 700px;
}

.iman{
    left: 115px;
}

.uno{
    left: 220px;
}

.dos{
    left: 430px;
}

.tr{
    left: 220px;;
}

.cuatro{
    left: 430px;
}

.cinco{
    left: 220px;
}

.seis{
    left: 430px;
}

.siete{
    left: 220px;
}

.ocho{
    left: 430px;
}

.nueve{
    left: 220px;
}

.dies{
    left: 430px;
}

.once{
    left: 220px;
}

.doce{
    left: 430px;
}

.estare{
    width: 800px;
    left: 250px;
}

.ciru{
    width: 100px;
    height: 100px;
    left: 900px;
}

.pepa{
    left: 110px;
}

.j{
    left: 115px;
}

.iman_2{
    left: 115px;
}

.pepa_2{
    left: 110px;
}

.j_2{
    left: 120px;
}

.parrafo{
    left: 250px;
}

.parrafo_2{
    left: 250px;
}

.parrafo_3{
    left: 250px;
}